body {
    background-color: #cecec6;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {  
    position: absolute;
    top: 80px;
    right: 0;
}

header {
    background: #4a94e2;
}

nav li {
    display: inline;
    margin: 0 0 0 15px,
}

nav a {
    text-transform: uppercase;
    color:#e4f805;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

h1 {
    color: #4a94e2;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: #301ac4;
}

p {
    color:  #2db7bc;
}

#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.texto-principal {
    margin-right: 20%; 
}

.itens {
	color: blue;
	text-decoration: underline;
}