body {
    background-color: #cecec6;
    padding: 0 0px;
    height: 300vh;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 70px;
    right: 0;
}

header {
    position: sticky;
    background: #4a94e2;
    padding: 20px 0;
    top: 0;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px,
}

nav a {
    text-transform: uppercase;
    color:#cbcbcb;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

h2, h3, p, ul, li {
    text-align: justify;
    padding: 5px;
    margin: 5px;
}

h2 {
    color: #301ac4;
    font-weight: bold;
    font-size: 30px;
    text-transform: inherit;

}

p {
    color:  #408fce;
    font-size: 25px;
}

.participantes, .formadores {
    width: 300px;
    margin: 0 auto;
    padding: 10px 0;
}

.participantes li {
    display: inline-block;
    text-align: center;
    width: 10%;
    vertical-align: top;
    margin: 0 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}